<li>
  <audio controls>
    <source src="<%= track.audio.url %>" type="audio/mpeg">
      Your browser does not support the audio element.
  </audio>
  <span class="title"><%= track.name %></span>
</li>
<!-- <li><%= track.audio.url %></li> -->