<li data-source="<%= track.audio.url %>" id="minxtape-track-<%= track.position %>">
  <span class="fi-sound" id="minxtape-track-indicator-<%= track.position %>" style="display: none;"></span> <%= track.name %>
</li>
