<div class="track-input">
  <div class="input-group">
    <span class="input-group-label fi-list"></span>
    <%= track_form.text_field :name, placeholder: "Song - Artist", class: "input-group-field" %>
    <div class="input-group-button">
      <%= track_form.remove_nested_fields_link "remove", class: "button alert" %>
    </div>
  </div>
  <%= track_form.file_field :audio %>
</div>
