<% if content_for?(:breadcrumbs) %>
  <nav aria-label="You are here:" role="navigation">

    <div class="row">
      <div class="large-7 medium-8 small-12 small-centered columns">

        <ul class="breadcrumbs">

          <%= yield :breadcrumbs %>

        </ul>

      </div>
    </div>

  </nav>
<% end %>
