<% if content_for?(:breadcrumbs) %>
  <nav aria-label="You are here:" role="navigation">

  	<div class="grid-container">
      <div class="grid-x">
        <div class="cell medium-10 medium-offset-1 small-12">

          <ul class="breadcrumbs">

            <%= yield :breadcrumbs %>

          </ul>

        </div>
      </div>
    </div>

  </nav>
<% end %>
