<footer>
	<div class="row">
		<div class="large-3 medium-4 small-9 small-centered columns">

			<%= image_tag('tape-inverse.jpg', :width => '255') %>
			<h4>MinxTape</h4>
			<h5>Spread the love.</h5>

		</div>
	</div>
</footer>
