#logo {
  padding: 20px 0;
  display: inline-block;
}
.new-mix {
  left: 5px;
  top: -15px;
  z-index: 55;
}
.top-bar .name h1 a {
  font-size: 28px;
}
.top-bar .name h1 a span {
  font-size: 16px;
  color: #2ba6cb;
}
.breadcrumbs {
  margin-top: 15px;
}
h1 {
  font-size: 30px;
}
fieldset {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
fieldset.art {
  margin-top: -7px;
}

/* forms */
.alert-box.radius {
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1em;
}
input[type='text'] {
  height: 40px;
}
textarea {
  height: 70px;
}
input[type='file'] {
  margin: 5px 0 30px 0;
}
#user_remember_me {
  display: inline;
}
label[for='user_remember_me'] {
  display: inline-block;
  padding-bottom: 20px;
}
.ui-hidden-accessible {
  display: none;
}

/* LARGE */
@media only screen and (min-width: 48em) {
  
  .mix-list article {
    height: 200px;
  }  
  article {
    height: 250px;
  }
  
  .jp-audio {
    width: auto;
  }
}
