@import 'util/util';
@import '_settings';

#logo {
  padding: 20px 0;
  display: inline-block;
}

main {
  margin-top: 1em;
}

.row {
  &.pad {
    padding: 2em 0;
  }
}

.hidden {
  display: none !important;
}

.facebook-login {
  background-color: $facebook-blue;
}
