@import 'util/util';
@import '_settings';

#logo {
  padding: 20px 0;
  display: inline-block;
}
.main-content {
  margin-top: 1em;
}
.row.pad {
  padding: 2em 0;
}
.hidden {
  display: none;
}
.new-mix {
  left: 5px;
  top: -15px;
  z-index: 55;
}
nav.top-bar {
  .top-bar-title-link {
    color: $black;
    font-size: 1.475em;
    font-weight: 900;
  }
}
#responsive-menu .menu li {
  padding-right: 0.5em;
  &:last-child {
    padding-right: 0;
  }
}
nav .breadcrumbs {
  margin-top: 15px;
}
fieldset {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
fieldset.art {
  margin-top: -7px;
}

/* forms */
.ui-hidden-accessible {
  display: none;
}

@include breakpoint(medium) {

}

@include breakpoint(small down) {
  .top-bar {
    .top-bar-title-link {
      padding-left: 0.3em;
    }
  }
  .menu-icon {
    top: -4px;
  }
}
