@import '_settings';

.mix-list {
  article {
    height: 175px;
    -webkit-border-radius: $global-radius;
    border-radius: $global-radius;
  }
}
article {
  width: 100%;
  min-height: 500px;
  -webkit-border-radius: $global-radius;
  border-radius: $global-radius;
  background-size: cover;
}
article > a {
  display: block;
  width: 100%;
  height: 100%;
}
article header {
  padding: 5px;
  background-color: rgba(0,0,0,0.5);
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
article h1 {
  display: inline-block;
  color: $white;
  margin: 0;
  padding: 5px;
  font-weight: 900;
  font-size: 26px;
}
article p {
  font-size: 16px;
  display: inline-block;
  color: $white;  
}
.mix-actions {
  margin-left: 0.5em;
  margin-top: 0.5em;
  list-style: none;
  li {
    padding-right: 0.5em;
    float: left;
  }
}

#nested-tracks-form {
  .input-group {
    margin-bottom: 0.4rem;
    .fi-list:hover {
      cursor: move;
    }
  }
  .remove_nested_fields_link {
    height: 40px;
  }
}

.dropzone {
  width: 100%;
  color: $black;
  border-color: #89c4f4;
  background-color: #b8dcf8;
  &.success {
    border-color: #87d37c;
    background-color: #b7e5b0;
  }
}

@include breakpoint(large) {
  .mix-list article {
    height: 200px;
  }  
  article {
    min-height: 250px;
  }
}
