@import '_settings';

.mix-list {
  article {
    height: 175px;
    -webkit-border-radius: $global-radius;
    border-radius: $global-radius;
  }
}
.audio-player {
  // background: transparent url("controls-slim.jpg") no-repeat;
  // background-size: cover;
  // background-position: top center;
  // height: 155px;
  // -webkit-border-radius: 0 0 $global-radius $global-radius;
  // border-radius: 0 0 $global-radius $global-radius;
}
.audio-player {
  padding: 1em 0 0 1em;
}
.track-list {
    margin-left: 0.7em;
}
.track-list li span {
    position: absolute;
    left: -22px;
}
.track-list li {
    margin-left: 1em;
    position: relative;
}
article.mix {
  width: 100%;
  -webkit-border-radius: $global-radius;
  border-radius: $global-radius;
  background-size: cover;
  position: relative;
  margin: 1em 0;
  > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    -webkit-border-radius: $global-radius;
    border-radius: $global-radius;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
  }
  header, .audio-player, .track-list {
    position: relative;
    z-index: 2;
  }
  header {
    padding: 0.5em;
    background-color: rgba(0,0,0,0.6);
    -webkit-border-radius: $global-radius $global-radius 0px 0px;
    border-radius: $global-radius $global-radius 0px 0px;
  }
  h1 {
    display: inline-block;
    color: $white;
    margin: 0;
    padding: 5px;
    font-weight: 900;
    font-size: 26px;
  }
  p {
    font-size: 16px;
    display: inline-block;
    color: $white;
  }
  .track-list {
    li {
      padding: 0.2em 0;
      font-size: 0.925em;
      color: $white;
      a {
        color: $white;
      }
    }
    padding-bottom: 2em;
  }
}

.mix-actions {
  margin-left: 0.5em;
  margin-top: 0.5em;
  list-style: none;
  li {
    padding-right: 0.5em;
    float: left;
  }
}

#nested-tracks-form {
  .input-group {
    margin-bottom: 0.4rem;
    .fi-list:hover {
      cursor: move;
    }
  }
  .input-group-button a {
    height: 40px;
  }
  .audio-file-upload-field {
    background-color: lighten($warning-color, 30%);
    border: dashed 4px $warning-color;
    padding: 5.5px;
    border-radius: $global-radius 0 0 $global-radius;
    margin: 0;
  }
}

@include breakpoint(large) {
  .mix-list article {
    min-height: 200px;
  }
  article.mix {
    min-height: 200px;
    .track-list {
      li {
        font-size: 1.25em;
      }
    }
  }
}
