@import '_settings';


.title-bar {
  .title-bar-title {
    padding-left: 1em;
  }
}

nav {
  &.top-bar {
    .top-bar-title-link {
      display: none;
    }

    .is-dropdown-submenu {
      z-index: 99;
    }

    .dropdown.menu li:not(:first-child) {
      margin-top: 1em;
    }

    .top-bar-right {
      .button {
        margin-left: 1em;
      }
    }
  }

  .breadcrumbs {
    margin-top: 15px;
  }
}

#responsive-menu .menu li {
  padding-right: 0.5em;

  &:last-child {
    padding-right: 0;
  }
}

.admin-actions {
  float: right;
}

@include breakpoint(medium) {
  nav {
    &.top-bar {
      .top-bar-title-link {
        color: $black;
        display: inline-block;
        font-size: 1.475em;
        font-weight: 900;
        padding-left: 0;
      }
    }

    &#responsive-menu {
      .menu {
        .is-dropdown-submenu {
          .is-submenu-item {
            margin-top: 0;
          }
        }
      }
    }
  }
  .menu-icon {
    top: auto;
  }
}
