@import '_settings';

nav {
  &.top-bar {
    .top-bar-title-link {
      color: $black;
      font-size: 1.475em;
      font-weight: 900;
      // padding-left: 0.3em;
    }

    .is-dropdown-submenu {
      z-index: 99;
    }

    .dropdown.menu li:not(:first-child) {
      margin-top: 1em;
    }

    .top-bar-right {
      .button {
        margin-left: 1em;
      }
    }
  }

  .breadcrumbs {
    margin-top: 15px;
  }
}

.menu-icon {
  top: -4px;
}

#responsive-menu .menu li {
  padding-right: 0.5em;

  &:last-child {
    padding-right: 0;
  }
}

.admin-actions {
  float: right;
}

@include breakpoint(medium) {
  nav {
    &.top-bar {
      .top-bar-title-link {
        padding-left: 0;
      }
    }
  }
  .menu-icon {
    top: auto;
  }
}
